
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background-color: #F5F5F1;
}

img{
  min-width: 100%;
}

.well {
  position: relative;
  border-bottom: 2px solid lightgrey;
  background-color: #FFFFFF;
  margin-bottom: 0px;
}

.title{
  font-size: 40px;
  font-family: serif;
  color: #F56400;
  margin: 15px 20px;
}

.search, #email{
  border: 1px solid #CFCBC8;
  padding: 7px;
  display: inline-block;
  width: 500px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  vertical-align: text-bottom;
  background-color: #FFFFFF;
}

#searchButton, #emailButton{
  color: white;
  background-color: #34A8C4;
  padding: 8px 11px;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 14px;
}

.menu{
  position: absolute;
  top: 30px;
  right: 30px;
}

.menu-item{
  color: #4B92B5;
  margin: 10px;
}

#sign-in{
  border: 1px solid #4B92B5;
  border-radius: 2px;
  padding: 7px;
}

.categories{
  color: #777780;
  padding: 15px;
  display: inline-block;
}

.category-bar{
  margin: 0px;
  border-bottom: 2px solid lightgrey;
  padding-left: 30px;
  background-color: #FFFFFF;
}

.container{
  background-color: #F5F5F1;
  padding-top: 20px;
}

.heading-text{
  margin: 15px 0 5px 15px;
}
.blue{
color: #0192B5;
}

.top-sidebar, .lower-sidebar{
  border: 1px solid lightgrey;
  background: white;
}
.sidebar ul{
  padding-left: 20px;
}
.sidebar h3{
  font-size: 13px;
  padding-left: 10px;
  margin-top: 15px;
}
.sidebar li{
  color: #0192B7;
  font-size: 13px;
  list-style: none;
  padding-top: 8px;
}

.refine{
  margin-top: 20px;
  margin-bottom: 10px;
}
.lower-sidebar{
  padding: 10px;
}
label{

}

.products{
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 1px;
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.products h5{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  margin: 5px 0px;
}

.products .maker{
  color: #9D9A9A;
  padding-left: 5px;
}

.products .price{
  float: right;
  color: #80C042;
  padding-right: 5px;
}

.footer-title{
  color: #444444;
  font-weight: bold;
}

.related{
  color: #0192B5;
}

.footer-text{
  margin-bottom: 20px;
  margin-left: 5px;
}
.number-boxes{
  padding: 5px 8px 8px 8px;
  border: 1px solid lightgrey;
  background-color: white;
}

footer{
  margin-left: 10px;
  margin-bottom: 30px;
}

.trends{
text-align: center;
margin: 20px 0;
}

.email{
  margin-bottom: 25px;
}

#emailButton{
  color: white;
  background-color: #34A8C4;
  padding: 8px 11px;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 14px;
}

.border{
  border-bottom: 2px solid lightgrey;
}
